<template>
  <div class="position-relative">
    <slot
      name="input"
      v-bind="{
        search,
        showList,
        keepOpen
      }"
    >
      <input
        :id="'input-autocomplete-' + identifier"
        v-model="search"
        class="w-100 p-2 form-control"
        :class="showList ? 'rounded-bottom-0' : ''"
        :placeholder="placeholder"
        autocomplete="off"
        type="search"
        @focus="showList = true"
        @blur="showList = false"
      />
    </slot>
    <div
      v-if="showList || keepOpen"
      class="w-100 border border-1 position-absolute bg-white"
      :style="{ zIndex: zIndex }"
      @mousedown="keepOpen = true"
    >
      <amsom-overlay :loading="loading">
        <div
          v-if="items && items.length"
          :style="{ maxHeight: maxResultsHeight, overflow: 'auto' }"
        >
          <div
            v-for="(item, index) in items"
            :key="item.id"
            role="button"
            class="option p-2 border border-1 border-top-0 border-end-0 border-start-0"
            :class="{ 'bg-secondary bg-opacity-25': selectedIndex === index }"
            @click="selectItem(index)"
          >
            <slot name="options" v-bind="item">
              <span class="text-wrap">{{ item.name }}</span>
            </slot>
          </div>
        </div>
        <template v-else>
          <div
            class="p-2 border border-1 border-top-0 border-end-0 border-start-0"
            @click="
              () => {
                showList = false
                keepOpen = false
              }
            "
          >
            <slot name="no-options">Aucun résultat</slot>
          </div>
        </template>
      </amsom-overlay>
    </div>
  </div>
</template>

<script>
import { AmsomOverlay } from '@amsom-habitat/ui'
import '@amsom-habitat/ui/dist/style.css'

export default {
  name: 'AmsomAutocomplete',

  components: {
    AmsomOverlay
  },

  props: {
    items: {
      type: Array,
      required: true
    },

    getInputLibelle: {
      type: Function,
      required: false,
      default: (item) => item.name
    },

    getId: {
      type: Function,
      required: false,
      default: (item) => item.id
    },

    identifier: {
      type: String,
      required: false,
      default: 'amsom'
    },

    maxResultsHeight: {
      type: String,
      required: false,
      default: '50vh'
    },

    modelValue: {
      type: Object,
      required: false,
      default: null
    },

    placeholder: {
      type: String,
      required: false,
      default: 'Recherchez...'
    },

    loading: {
      type: Boolean,
      required: false,
      default: false
    },

    zIndex: {
      type: Number,
      required: false,
      default: 1000
    }
  },

  emits: ['update:modelValue', 'search'],

  data() {
    return {
      showList: false,
      keepOpen: false,
      search: '',
      selectedIndex: 0
    }
  },

  watch: {
    items(newValue) {
      this.selectedIndex = 0
    },

    search(newValue) {
      this.$emit('search', newValue)
    },

    modelValue() {
      this.handleModelValue()
    }
  },

  mounted() {
    document.addEventListener('keydown', this.handleKey)

    this.handleModelValue()
  },

  methods: {
    handleModelValue() {
      if (this.modelValue) {
        let match = []

        for (let [index, item] of this.items.entries()) {
          if (this.getId(item) === this.getId(this.modelValue)) {
            match.push(index)
          }
        }

        if (match.length === 1) {
          const item = this.items[match[0]]
          if (typeof item !== 'object' && item !== this.modelValue) {
            this.selectedIndex = 0
            this.search = ''
          }
          //if item is an object and all props are sames
          else if (
            typeof item === 'object' &&
            JSON.stringify(item) !== JSON.stringify(this.modelValue)
          ) {
            this.selectedIndex = 0
            this.search = ''
          } else {
            this.selectItem(match[0])
          }
        } else {
          this.search = ''
        }
      } else {
        this.search = ''
        this.selectedIndex = 0
      }
    },

    handleKey(e) {
      if (this.showList) {
        if (e.key === 'ArrowDown') {
          if (this.selectedIndex < this.items.length - 1) {
            this.selectedIndex++
          }
        } else if (e.key === 'ArrowUp') {
          if (this.selectedIndex > 0) {
            this.selectedIndex--
          }
        } else if (e.key === 'Enter') {
          this.search = this.getInputLibelle(this.items[this.selectedIndex])
          //remove focus from input
          document.getElementById('input-autocomplete').blur()
        } else if (e.key === 'Escape') {
          document.getElementById('input-autocomplete').blur()
        } else if (e.key === 'Tab') {
          this.search = this.getInputLibelle(this.items[this.selectedIndex])
          this.showList = false
          this.keepOpen = false
        }
      }
    },

    selectItem(index) {
      this.selectedIndex = index
      const item = this.items[this.selectedIndex]
      this.search = this.getInputLibelle(item)
      this.$emit('update:modelValue', item)
      this.showList = false
      this.keepOpen = false
    }
  }
}
</script>

<style>
.option:hover {
  background-color: #c1c1c1 !important;
}
</style>
